.left-side {
  .coluom {
    overflow: auto;
    padding: 60px;
    border: 2px solid #fff;
    min-width: 40%;
    height: 85%;
  }
  .row {
    padding: 35px;
    margin-bottom: 36px;
    border: 2px solid #fff;
    overflow: hidden;
  }
}
